@use "@/styles/base" as *;

.dropdown-menu {
  position: relative;
  top: -1rem;
  right: -1rem;

  &__button {
    padding: 0.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    outline: none;
    border: none;
    background-color: $blacktransparent;
    cursor: pointer;
  }

  &__menu-text {
    font-family: $main-font;
    font-weight: bold;
    letter-spacing: 0.175rem;
    font-size: 0.9375rem;
    opacity: 1;
    color: $white;
    margin: 0;
  }

  &__bars-container {
    position: relative;
    height: 1.25rem;
    width: 1.25rem;

    &--bar1 {
      @extend %bar;
      top: 0.3125rem;
    }

    &--bar2 {
      @extend %bar;
      top: 0.5625rem;
    }

    &--bar3 {
      @extend %bar;
      top: 0.8125rem;
    }
  }

  &__content {
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    min-width: 10rem;
    background-color: $blacktransparent;
    padding: 1rem;
    right: 0;
    border-radius: 0.25rem 0 0.25rem 0.25rem;
    display: flex;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  &__link {
    color: $white;
    background-color: transparent;
    border: none;
    padding: 0.3rem;
    text-decoration: none;
    text-align: right;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      color: $greylight;
    }
  }
}

%bar {
  position: absolute;
  height: 0.15rem;
  left: 0;
  right: 0;
  background: $white;
  transition: top 0.2s;
}
