@use "@/styles/base" as *;

%form-element {
  box-sizing: border-box;
  width: 100%;
  height: 1.5rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid $greylight;
  font-family: $main-font;
  letter-spacing: 0;
  color: $grey;

  &:focus {
    outline-width: 0;
    border-bottom: 1px solid $grey;
  }
}

.form {
  width: 100%;

  &__row {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 0.25rem 0;
    flex-wrap: wrap;

    @media (min-width: 769px) {
      flex-direction: row;
      align-items: flex-end;
    }

    &--withbuttons {
      align-items: flex-end;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__element {
    @extend %form-element;
    margin: 0.5rem 0;

    @media (min-width: 769px) {
      width: calc(50% - 1rem);
      margin: 0.5rem 0.5rem 0 0.5rem;
    }

    &::placeholder {
      color: $grey;
      font-size: 13px;
    }
  }

  &__element-with-label {
    display: flex;
    align-items: flex-end;
    color: $grey;
    font-size: 13px;
    width: 100%;
    margin: 0.5rem 0rem;

    @media (min-width: 769px) {
      width: calc(50% - 1rem);
      margin: 0.5rem 0.5rem 0 0.5rem;
    }

    label {
      width: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &__input-in-element {
    @extend %form-element;
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: 1px solid $greylight;
    font-family: $main-font;
    letter-spacing: 0;
    color: $grey;
    margin: 1rem 0 1rem 0;
    resize: none;

    &:focus {
      outline-width: 0;
      border: 1px solid $grey;
    }

    @media (min-width: 769px) {
      margin: 1rem 0.5rem;
      width: 100%;
    }
  }

  &__button {
    margin: 0.25rem 0rem 0.25rem 0.25rem;

    &--primary {
      @media (min-width: 769px) {
        margin-right: 0.5rem;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $grey;
  box-shadow: inset 0 0 20px 20px $background;
}
