@use 'base';

.title {
    font-weight: 700;
    color: base.$white;
    margin: 0;
    padding: 0.2rem 0.7rem;
    position: relative;
    top: -1.5rem;
    left: -1.5rem;
    background-image: url('./../../svgs/brush.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subtitle {
    font-weight: 400;
    color: base.$grey;
    margin: 0;
  }