@use "base";

.title {
  &__main {
    font-weight: 700;
    color: base.$white;
    margin: 0;
    padding: 0.2rem 0.7rem;
    position: relative;
    top: -1.5rem;
    left: -1.5rem;
    background-image: url("./../../svgs/brush.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.4em;

    @media (min-width: 769px) {
      flex-direction: row;
      align-items: flex-end;
      font-size: 1.5em;
    }
  }

  &__subtitle {
    font-weight: 400;
    color: base.$grey;
    margin: 0;
  }
}
