// Colors:
$creativered: #d81323;
$red: #ac161a;
$grey: #8c8c8c;
$background: #f3f3f3;
$white: #fff;
$greylight: #d5d5d5;
$blacktransparent: rgba(0, 0, 0, 0.5);

//font:
$main-font: "Roboto Condensed", Arial, Helvetica, sans-serif;
