body {
  margin: 0 1rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 481px) {
  margin: 0 2rem;
  }
}
